@page "/"

<h1>Welcome to Learning Management System</h1>
<SurveyPrompt Title="How is Blazor working for you?" />

<div class="container">

<div class="row">

    <div class="card" style="width: 20rem; margin: 10px">
            <img class="card-img-top" src="/Users/kevin1222/Desktop/SAIT/Winter_2023/CPRG_211_G/CPRG_211_GP4/CPRG211_FinalProject/Resources/oop-icon.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CPRG-211</h5>
            <p class="card-text">Object-Oriented Programming</p>
            <a href="#" class="btn btn-primary">Course Info</a>
        </div>
    </div>

    <div class="card" style="width: 20rem; margin: 10px">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CPRG-250</h5>
            <p class="card-text">Database Programming</p>
            <a href="#" class="btn btn-primary">Course Info</a>
        </div>
    </div>

    <div class="card" style="width: 20rem; margin: 10px">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CPSY-202</h5>
            <p class="card-text">Software UI, UX Design</p>
            <a href="#" class="btn btn-primary">Course Info</a>
        </div>
    </div>

</div>

<div class="row">

    <div class="card" style="width: 20rem; margin: 10px">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CPSY-200</h5>
            <p class="card-text">Software Analysis & Design</p>
            <a href="#" class="btn btn-primary">Course Info</a>
        </div>
    </div>

    <div class="card" style="width: 20rem; margin: 10px">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">MATH-123</h5>
            <p class="card-text">Math for Information Technology</p>
            <a href="#" class="btn btn-primary">Course Info</a>
        </div>
    </div>

    <div class="card" style="width: 20rem; margin: 10px">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">PHIL-241</h5>
            <p class="card-text">Philosophy - Critical Thinking</p>
            <a href="#" class="btn btn-primary">Course Info</a>
        </div>
    </div>

</div>

</div>