@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar" style="width: auto">
		<NavMenu />
	</div>
	
	<main>
		<div class="top-row px-4">
			<a class="back-btn" href="javascript:history.back()" target="_self" style="margin-right: 30px" >❮ Back</a>
			<a class="about" href="" target="" style="margin-right: 30px">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>